<h1>Sheets#index</h1>
<p>Find me in app/views/sheets/index.html.erb</p>

<h4>Sheets that can be connected:</h4>

<table>
<tr>
<th>Sheet name</th>
<th>Sheet id</th>
<th>Owner(s)</th>
<th>Link</th>
</tr>
<% @sheets.files.each do |sheet| %> 
  <tr>
  <td> <%= sheet.name %> </td>
  <td> <%= sheet.id %> </td>
  <td> 
    <% sheet.owners.each do |owner| %>
      <%= owner.email_address %>
    <% end %>
  </td>
  <td> <%= sheet.web_view_link %> </td>
  </tr>
<% end %>
</table>